/* VARIABLES */
$primary-color: #263238;
$primary-color-light: #4f5b62;
$accent-color: #ffca28;
$accent-color-light: #fffd61;
/* All animations are made thanks to aos : https://michalsnik.github.io/aos/ */

/* Title & header style */
/* Header Icon font : https://www.dafont.com/minecrafter.font */
.titleIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 5px;
}

#headerList {
  text-align: center;
  font-size: 25px;
  margin-left: -45px;
  margin-top: 5px;
}

#headerList li {
  display: inline;
  padding: 25px;
}

@media only screen and (max-width: 768px) {
  #headerList {
    display: none;
  }

  .titleIcon {
    padding-bottom: 20px;
  }
}

/* Content */
.content {
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

@media only screen and (max-width: 768px) {
  .content {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 50px;
  }
}

/* General games presentation */
.gameInfos {
  margin-right: 25px;
}

/* Hellblaze presentation */
.hellblazeVideo {
  padding: 50px;
  text-align: center;
  background-image: url("../assets/img/Hellblaze/hellblaze_background.png");
  background-attachment: fixed;
}

.videoPlayer {
  max-width: 100%;
  width: 560px;
}

/* ERROR_418 pres */

/* 2D Fight pres */

/* Classes for other projects bubble pres */
.bubble {
  padding-bottom: 15px;
  background-color: rgba(79, 91, 98, 0.5);
  border: 1px solid $accent-color;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .bubble {
    margin-bottom: 25px;
  }
}

/* Author pres */
#profilePicture {
  max-width: 100%;
  border-radius: 50%;
}

#profilePictureDiv {
  width: 100px;
  float: left;
}

#profileDesc {
  margin-left: 15%;
  height: 100px;
}
