/* VARIABLES */
$primary-color: #263238;
$primary-color-light: #4f5b62;
$primary-color-dark: #000a12;
$accent-color: #ffca28;
$accent-color-light: #fffd61;
$selection-color: rgba(255, 253, 97, 0.99);
$selection-color-img: rgba(255, 253, 97, 0.6);

/* All animations are made thanks to aos : https://michalsnik.github.io/aos/ */

/* Title & header style */
/* Header Icon font : https://www.dafont.com/minecrafter.font */
.titleIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 25px;
  padding-bottom: 50px;
}

#headerList {
  text-align: center;
  font-size: 25px;
  margin-left: -45px;
  margin-top: 5px;
}

#headerList li {
  display: inline;
  padding: 25px;
}

@media only screen and (max-width: 1200px) {
  #headerList {
    display: none;
  }

  .titleIcon {
    padding-bottom: 25px;
  }
}

/* Author pres */
#topDiv {
  background-image:url("../assets/img/backgrounds/headerBackground_wide.png");
  background-attachment: fixed;
  background-repeat: repeat;
  height: 100vh;
}

#gradientBuffer {
  background-image: linear-gradient(0deg, rgba(38,50,56,1) 0%, rgba(38,50,56,0) 100%);
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.aboutSection {
  width: 100%;
  margin-bottom: 50px;
  padding-left: 100px;
}

#profilePictureDiv {
  margin-top: 40px;
  width: 150px;
  float: left;
}

#profilePicture {
  max-width: 100%;
  border-radius: 50%;
}

#profileDesc {
  margin-right: 50px;
  margin-left: 50px;
  width: 70vw;
  float: left;
}

#profileDesc h1 {
  color: black;
  font-size: 100px;
  font-family: 'Fugaz One', cursive;
  text-shadow: 2px 4px 0 white;
}

#profileDesc p {
  color: white;
  background-color: black;
  text-align: center;
  text-indent: 0px !important;
  padding: 5px;
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
}

@media only screen and (max-width: 1100px) {
  #profilePictureDiv{
    margin-top: 0px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .aboutSection {
    padding-left: 0px;
  }

  #profileDesc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-right: 20px;
    float: none;
  }

  #profileDesc h1 {
    font-size: 50px;
    text-align: center;
  }

  #profileDesc p {
    font-size: 20px;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  #profilePictureDiv{
    width: 100px;
  }
}

.nextImg {
    position: relative;
    height: 100px;
    width: 100px;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nextImg img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
}

@media only screen and (max-width: 1100px) {
  .nextImg {
    visibility: hidden;
  }
}

/* Content */
.content {
  margin-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

@media only screen and (max-width: 768px) {
  .content {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 50px;
  }
}

/* Skills pres */
.skillsDiv {
  padding: 5px;
  margin-bottom: 25px;
  background-color: $primary-color-light;
  border-radius: 5px;
}

.logosWrapper {
  text-align: center;
  margin-bottom: 25px;
}

.logos {
  width: 5%;
}

#c_plus_logo {
  width: 4.5% !important;
}

#java_logo {
  width: 6% !important;
}

@media only screen and (max-width: 768px) {
  .disapearWhenSmall {
    display: none;
  }

  .logos {
    width: 10%;
  }

  #c_plus_logo {
    width: 9% !important;
  }

  #java_logo {
    width: 11% !important;
  }
}

/* General games presentation */
.gameInfos {
  margin-right: 25px;
}

/* Hellblaze presentation */
.hellblazeVideo {
  padding: 50px;
  text-align: center;
}

.videoPlayer {
  max-width: 100%;
  width: 560px;
}

/* ERROR_418 pres */

/* 2D Fight pres */

/* Classes for other projects bubble pres */
.bubble {
  padding-bottom: 15px;
  background-color: rgba(79, 91, 98, 0.5);
  border: 1px solid $accent-color;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .bubble {
    margin-bottom: 25px;
  }
}

/* Footer style */
.footer {
  margin-top: 50px;
  background-color: $primary-color-dark;
  height: 200px;
}

.footerContent {
  margin-left: 50px;
}

.footerInfosList {
  padding-top: 25px;
  list-style: none;
  float: left;
}

.footerInfosList li {
  margin-top: 5px;
}

.footerCopyrightsList {
  padding-top: 25px;
  list-style: none;
  float: left;
}

.footerCopyrightsList li {
  margin-top: 5px;
}
