<h4>Hellblaze</h4>
<p>A video game programmed with a team of 8 people in 2019 during studies in game programming at UQAC</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/DEbtSmcdpt8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<ul>
  <li><span style="text-decoration: underline">Style :</span> 3D RPG / Beat'em'all</li>
  <li><span style="text-decoration: underline">Techno :</span> Unity</li>
  <li><span style="text-decoration: underline">Nombre de joueurs :</span> Solo</li>
</ul>
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/9xdEKtRHqu4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
