/* VARIABLES */
$primary-color: #263238;
$primary-color-light: #4f5b62;
$accent-color: #ffca28;
$accent-color-light: #fffd61;

/* REUSABLE AND GLOBAL STYLES */

body {
  background-color: $primary-color;
}

/* Every text set to white */
h1, h2, h3, h4, p, li {
  color: white;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

/* Content sections and subsections styles */


/* Buttons styles and effects */
.btn {
  background-color: $accent-color !important;
  color: black;
  //box-shadow: 0 5px #4f5b62;
}

.btn:hover {
  background-color: $accent-color-light !important;
}

.btn:active {
  background-color: $accent-color-light;
  transform: translateY(4px);
}

/* Custom switch changes */
.custom-control-label:before{
    background-color: white;
}
.custom-control-input:checked~.custom-control-label::before{
    background-color: $accent-color;
}

.custom-control-input:active~.custom-control-label::before{
    background-color: $accent-color-light !important;
}

/* Links styles and effects */
a {
  color: $accent-color;
}

a:visited {
  color: $accent-color;
}

a:hover {
  color: $accent-color-light;
  text-decoration: none;
}

/* Images styles and effects */
/*.fitImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/
