/* VARIABLES */
$background-color: #263238;
$accent-color: #ffca28;
$accent-color-light: #fffd61;

/* Header */
.titleIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  margin-top: 5px;
}

#headerList {
  text-align: center;
  font-size: 25px;
  margin-left: -45px;
  margin-top: 5px;
}

#headerList li {
  display: inline;
  padding: 25px;
}

/* Project styles */

/* Contact style */
.contactList {
  list-style: none;
}

/* REUSABLE AND GLOBAL STYLES */

body {
  background-color: $background-color;
}

/* Every text set to white */
h1, h2, h3, h4, p, li {
  color: white;
}

/* Buttons styles and effects */
button {
  background-color: $accent-color !important;
  color: black;
  //box-shadow: 0 5px #4f5b62;
}

button:hover {
  background-color: $accent-color-light !important;
}

button:active {
  background-color: $accent-color-light;
  transform: translateY(4px);
}

/* Custom switch changes */
.custom-control-label:before{
    background-color: white;
}
.custom-control-input:checked~.custom-control-label::before{
    background-color: $accent-color;
}

.custom-control-input:active~.custom-control-label::before{
    background-color: $accent-color-light !important;
}

/* Links styles and effects */
a {
  color: $accent-color;
}

a:visited {
  color: $accent-color;
}

a:hover {
  color: $accent-color-light;
  text-decoration: none;
}

/* Images styles and effects */
.centeredImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
