/* Header */
.titleIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  margin-top: 5px;
}

#headerList {
  text-align: center;
  font-size: 25px;
  margin-left: -45px;
  margin-top: 5px;
}

#headerList li {
  display: inline;
  padding: 25px;
}

/* Project styles */


/* REUSABLE AND GLOBAL STYLES */

body {
  background-color: #263238;
}

/* Every text set to white */
h1, h2, h3, h4, p, li {
  color: white;
}

/* Buttons styles and effects */
button {
  background-color: #ffca28 !important;
  color: black;
  //box-shadow: 0 5px #4f5b62;
}

button:hover {
  background-color: #fffd61 !important;
}

button:active {
  background-color: #fffd61;
  transform: translateY(4px);
}

/* Links styles and effects */
a {
  color: #ffca28;
}

a:visited {
  color: #ffca28;
}

a:hover {
  color: #fffd61;
  text-decoration: none;
}

/* Images styles and effects */
.centeredImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
